<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.chatclub">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".Activities.GroupActivity"></activity>
        <activity android:name=".Activities.FragmentsHolder" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.administrator.chatclub.fileprovider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".Activities.MainPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="http"
                    android:host="www.chatclub.com"
                    android:pathPattern="/.*"/>
            </intent-filter>
        </activity>
        <activity android:name=".Activities.SignUpForm" />
        <activity android:name=".Activities.Profile" />
        <activity android:name=".Activities.MessageList" />
        <activity android:name=".Activities.GroupMaker" />
        <activity android:name=".Base.BaseActivity" />
    </application>

</manifest>